<section class="pt-16 pb-20 px-4 md:px-12 bg-slate-50">
  <!-- PAGE TITLE -->
  <h1 class="text-3xl md:text-4xl text-blue-950 font-bold text-center">
    New <span class="text-sky-400">2</span> Me
  </h1>

  <!-- SEARCH -->
  <app-listing-search (search)="handleSearch($event)"></app-listing-search>
  <!-- LOADING -->
  <div class="mt-10 flex justify-center">
    <app-spinner *ngIf="loading"></app-spinner>
  </div>

  <!-- EMPTY STATE -->
  <div
    *ngIf="listings.length === 0 && !searchQuery"
    class="mt-10 text-center text-slate-500"
  >
    No listings yet.
  </div>

  <!-- GRID -->
  <app-listing-grid
    *ngIf="!loading && listings.length > 0"
    [listings]="listings"
    (select)="openListing($event)"
  ></app-listing-grid>

  <!-- LISTING MODAL -->
  <app-listing-modal
    [listing]="selectedListing"
    [show]="showListingModal"
    [loading]="loading"
    [modalView]="modalView"
    [offerAmount]="offerAmount"
    [offerMessage]="offerMessage"
    [isOwner]="isOwner()"
    (close)="showListingModal = false"
    (makeOffer)="handleOfferClick()"
    (submitOffer)="handleSubmitOffer($event)"
    (back)="modalView = 'DETAIL'"
  ></app-listing-modal>
</section>
